Logs/
Builds/
Library/
temp/
obj/
build/
ExplortedObj/
.pidb.meta
.pdb.meta
.mdb.meta
.apk
.aab
.unitypackage
.app
crashlytics-build.properties
/Assets/Addressable/Assets/Data//.bin
/Assets.StreamingAssets/aa.meta
/Assets/StreamingAssets/aa/
.vs/
.gradle/
/Assets/Plugins/Editor/JetBrains
/UserSettings/
/MemoryCaptures/
/Recordings/
.consulo/
.csproj
.unityproj
.sln
.suo
.tmp
.booproj
.svd
.opendb
.VC.db
sysinfo.txt
.user